In [1]:
import pandas as pd

In [2]:
app_usage = pd.read_csv("app_usage.csv")
beacon = pd.read_csv("beacon_data.csv")
product = pd.read_csv("product_order.csv")

In [3]:
app_usage

,event_date,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive
0,22/07/2022,1.658460e+15,Friday,0B907DABFE7A49CFB1CA0B43DEFC8A5E,NaN,1.658458e+09,1.0,New Visitor,4448006,0,...,6,0,0,0,0,0.0,0,0,0,0
1,22/07/2022,1.658460e+15,Friday,2C1503D8D34246B8B2D875980614A0AA,NaN,1.658458e+09,1.0,New Visitor,4426006,0,...,6,0,0,0,0,0.0,0,0,0,0
2,22/07/2022,1.658500e+15,Friday,FEB0684ADBFD48DC9A373A679CB338B8,NaN,1.658501e+09,1.0,New Visitor,4079006,0,...,6,0,0,0,0,0.0,0,0,0,0
3,22/07/2022,1.658500e+15,Friday,721D880E47464D10A0DFEF50D52238BA,NaN,1.658501e+09,1.0,New Visitor,4388007,0,...,7,0,0,0,0,0.0,0,0,0,0
4,22/07/2022,1.658490e+15,Friday,b1ad626d2506be76b5a74b6383335736,NaN,1.658489e+09,1.0,New Visitor,7681056002,0,...,8,0,0,0,0,0.0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1815,27/07/2022,1.658950e+15,Wednesday,b90433f4bd48885acace0d3c31c40fff,cCRbQda0h8S2c2q7hT4rlx3vICJ3,1.658953e+09,2.0,Returning Visitor,18582001,0,...,5,0,1,0,0,0.0,0,0,0,0
1816,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,s5sMqCayngaywqUZPIfa47lxMsm2,1.658951e+09,2.0,Returning Visitor,2033057010,1,...,138,0,8,88,0,234925022.0,2,0,0,0
1817,27/07/2022,1.658930e+15,Wednesday,B0B0B310F92F400B8C109D565066B462,mrbnbVlZwaX86nBmFq6zeba9a0J2,1.658929e+09,3.0,Returning Visitor,892054039,0,...,49,0,9,6,0,613705000.0,0,0,0,0
1818,11/05/2022,1.652280e+15,Wednesday,E0F9A84DC1414FE8B28AA887CD6B0467,Hplbz2VVhRVFbvftbC6z63vIeF83,1.652284e+09,2.0,Returning Visitor,76698001,0,...,7,0,0,7,0,21002.0,0,0,0,0
1819,11/05/2022,1.652280e+15,Wednesday,65fe7b5d2163cf33a20fdb612bdd1004,hPGNI11lKYXyqJa8LpewjgHuCGM2,1.652280e+09,24.0,Returning Visitor,2653675035,0,...,16,0,15,2,0,18607006.0,0,1,0,1

In [4]:
beacon

,event_date,session_timestamp,event_wday,user_id,user_customer_id,session_duration_microseconds,visited_personalised_store,personalise_store_pageviews,visited_purposeful_shelves,purposeful_shelves_pageviews,visited_digi_me,digi_me_pageviews,entered_store,entered_purposeful_shelves,entered_dm,entered_welcome
0,15/07/2022,1.657850e+15,Friday,12b8871209c2c81f891fd66ac6663867,K9KeA6etCVe1opm6b1ThDsMiVW33,8029319002,0,0,0,0,0,0,1,0,0,0
1,07/10/2022,1.665130e+15,Friday,425BE6D7542E48E293126C8DECE56983,059VyWLoggdNE5iYtEKRPmN0Sk03,29004388008,0,0,0,0,0,0,1,1,0,1
2,26/08/2022,1.661510e+15,Friday,CA987884BA0A47A4AF602B365E8F0E82,61gdPddDxtQcBdQycs15Z8UhYHl2,10844001,0,0,0,0,0,0,1,0,0,0
3,23/09/2022,1.663930e+15,Friday,425BE6D7542E48E293126C8DECE56983,059VyWLoggdNE5iYtEKRPmN0Sk03,0,0,0,0,0,0,0,1,0,0,0
4,23/09/2022,1.663930e+15,Friday,e086b005b05965ffe236c3bcc8546d4b,yUA5CHbldjZaDwLcYaa7u0yn8Eh1,2049522002,0,0,0,0,0,0,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,22/06/2022,1.655920e+15,Wednesday,A2ECCB4200624749A49AEEEB39069423,059VyWLoggdNE5iYtEKRPmN0Sk03,3473547013,0,0,1,7,0,0,1,1,1,1
275,21/09/2022,1.663750e+15,Wednesday,2870cb5ae4f93dba7ae336130a01f15b,1dt4gEOt86Ru8IaCyFzjAwWOoGG3,386710007,1,1,1,12,0,0,1,1,1,1
276,10/08/2022,1.660140e+15,Wednesday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,11616225024,0,0,1,7,0,0,1,1,1,1
277,10/08/2022,1.660140e+15,Wednesday,9A6EDE6540B54BE2987FCEDDF4986A76,fvvpm6afISaFbcNa4GF7m62D83n2,2275498002,0,0,1,8,0,0,1,1,1,1
278,10/08/2022,1.660150e+15,Wednesday,9A6EDE6540B54BE2987FCEDDF4986A76,61gdPddDxtQcBdQycs15Z8UhYHl2,2152499003,0,0,1,18,0,0,1,1,0,1

In [5]:
product

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date
0,20220617,1.655470e+15,CK8zzagBwJaJz3eygIuvIWBL4Mu1,1655393727,202206171655471279627000CK8zzagBwJaJz3eygIuvIW...,1e7a3c17-888b-4446-8dce-09f4dc52f0f5,Oomf Golden Syrup Flavour,190,1,190,17/06/2022
1,20220620,1.655740e+15,x3vKlw36WLYCI1TFmw5pGUW7ye82,1655739061,202206201655742042734000x3vKlw36WLYCI1TFmw5pGU...,f641e883-dc6b-4373-9a4e-02beaa832dfa,Oomf Golden Syrup Flavour,190,1,190,20/06/2022
2,20220622,1.655920e+15,059VyWLoggdNE5iYtEKRPmN0Sk03,1655916068,202206221655917177240000059VyWLoggdNE5iYtEKRPm...,b8512ed1-2305-42c1-ae93-7e7aa0278739,Oomf Golden Syrup Flavour,190,1,190,22/06/2022
3,20220720,1.658320e+15,K9KeA6etCVe1opm6b1ThDsMiVW33,1658319474,202207201658323137742000K9KeA6etCVe1opm6b1ThDs...,b76d9a3d-92f7-41fc-b56a-86d92c5fac98,Montezuma's Absolute Black,500,1,500,20/07/2022
4,20220720,1.658320e+15,K9KeA6etCVe1opm6b1ThDsMiVW33,1658319474,202207201658323137742000K9KeA6etCVe1opm6b1ThDs...,555adc33-38da-4d54-aa87-279301dfc7ad,Free From Fellows Pear Drops,335,1,335,20/07/2022
5,20220726,1.658830e+15,7iGXxZpjIKhKg3WYwbBb5ityvki2,1658832968,2022072616588345399400007iGXxZpjIKhKg3WYwbBb5i...,5a6c07ed-a507-4ed5-9dc7-d82344a58469,Clif Bar Crunchy Peanut Butter,230,1,230,26/07/2022
6,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,813cb1bb-728e-48c8-8c9c-f335763ba56b,Kiddylicious Veggie Straws,50,1,50,27/07/2022
7,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,9a4aa368-63ba-4be0-a881-ad6dbb5e6c39,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,27/07/2022
8,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,b3d00a97-f036-4978-ada8-057759f292d3,Joe & Sephs Marmite Popcorn,380,1,380,27/07/2022
9,20220727,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,1658950631,202207271658952418484000s5sMqCayngaywqUZPIfa47...,441f864f-46de-4104-b121-e5c039b0640d,(not set),2400,1,2400,27/07/2022
10,20220727,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,1658950631,202207271658952473498000s5sMqCayngaywqUZPIfa47...,3ff66092-3fa0-49a8-81fb-b3ecb7fa8c15,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,27/07/2022
11,20220728,1.659010e+15,s5sMqCayngaywqUZPIfa47lxMsm2,1658996759,202207281659006599537000s5sMqCayngaywqUZPIfa47...,c220c40f-4b40-42bf-af04-d83a95cc8bf9,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,28/07/2022
12,20220728,1.659020e+15,EOVcuUoJq0eqU0SB4Fc4Yi2NVS32,1659018484,202207281659018499489000EOVcuUoJq0eqU0SB4Fc4Yi...,24cb5b45-af08-442a-b795-087b013456eb,(not set),1300,1,1300,28/07/2022
13,20220729,1.659100e+15,EOVcuUoJq0eqU0SB4Fc4Yi2NVS32,1659099099,202207291659099273292000EOVcuUoJq0eqU0SB4Fc4Yi...,739a31cf-f425-4179-96b1-076edaf4e78b,(not set),2400,1,2400,29/07/2022
14,20220729,1.659100e+15,EOVcuUoJq0eqU0SB4Fc4Yi2NVS32,1659099099,202207291659099303514000EOVcuUoJq0eqU0SB4Fc4Yi...,739a31cf-f425-4179-96b1-076edaf4e78b,(not set),2400,1,2400,29/07/2022
15,20220801,1.659350e+15,BvsIWW02yVXShz0IPtjU0UDsNra2,1659346558,202208011659346603803000BvsIWW02yVXShz0IPtjU0U...,9ed2195b-153d-4144-977a-aa277ae6526a,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,01/08/2022
16,20220801,1.659350e+15,BvsIWW02yVXShz0IPtjU0UDsNra2,1659346558,202208011659346606033000BvsIWW02yVXShz0IPtjU0U...,9ed2195b-153d-4144-977a-aa277ae6526a,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,01/08/2022
17,20220801,1.659350e+15,BvsIWW02yVXShz0IPtjU0UDsNra2,1659346558,202208011659346606295000BvsIWW02yVXShz0IPtjU0U...,9ed2195b-153d-4144-977a-aa277ae6526a,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,01/08/2022
18,20220801,1.659350e+15,BvsIWW02yVXShz0IPtjU0UDsNra2,1659346558,202208011659346606554000BvsIWW02yVXShz0IPtjU0U...,9ed2195b-153d-4144-977a-aa277ae6526a,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,01/08/2022
19,20220805,1.659700e+15,fvvpm6afISaFbcNa4GF7m62D83n2,1659701893,202208051659704975483000fvvpm6afISaFbcNa4GF7m6...,25eeb3b7-ccf6-47cb-8ef2-baba20f61430,Coffee,150,1,150,05/08/2022
20,20220809,1.660070e+15,fvvpm6afISaFbcNa4GF7m62D83n2,1660065014,202208091660066375996000fvvpm6afISaFbcNa4GF7m6...,ac739b5c-85cc-4145-b199-43ea87f89763,Kiddylicious Veggie Straws,50,1,50,09/08/2022
21,20220824,1.661330e+15,LVYPweqplrfRruhleOlbpY44dwd2,1661328220,202208241661328323204000LVYPweqplrfRruhleOlbpY...,72579480-dd37-4b54-a5b7-43dc66e91f55,Joe & Sephs Marmite Popcorn,380,1,380,24/08/2022
22,20220824,1.661330e+15,LVYPweqplrfRruhleOlbpY44dwd2,1661331766,202208241661331798548000LVYPweqplrfRruhleOlbpY...,76fdfec0-b5ba-4bc0-89dc-a9bd8e2dc6aa,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,24/08/2022
23,20220825,1.661420e+15,rvAjPBZYANgxmKBx6qP8Afg7ePO2,1661422626,202208251661423649989000rvAjPBZYANgxmKBx6qP8Af...,3db4c969-6a60-4eb4-9ced-d84357a37d87,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022
24,20220825,1.661420e+15,rvAjPBZYANgxmKBx6qP8Afg7ePO2,1661422626,202208251661423687310000rvAjPBZYANgxmKBx6qP8Af...,3db4c969-6a60-4eb4-9ced-d84357a37d87,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022
25,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661423913655000DXD5rUp8htW2y0pkbXN3z6...,69df1497-7a6c-4c2d-8a02-c5d49344b427,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022
26,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661423926053000DXD5rUp8htW2y0pkbXN3z6...,69df1497-7a6c-4c2d-8a02-c5d49344b427,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022
27,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424004550000DXD5rUp8htW2y0pkbXN3z6...,4decf21c-a85a-402f-a0dc-1401617c426e,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022
28,20220825,1.661420e+15,5tSSQoC52lNpgQ9bi736xWfl1cF2,1661423965,2022082516614240300520005tSSQoC52lNpgQ9bi736xW...,0899ffb5-ec28-4b3c-9124-cf4299cfc555,Eat Real Sea Salt Lentil Chips,100,2,200,25/08/2022
29,20220825,1.661420e+15,5tSSQoC52lNpgQ9bi736xWfl1cF2,1661423965,2022082516614240557770005tSSQoC52lNpgQ9bi736xW...,9f7f51dd-6377-47a4-a37f-2825194c0d3a,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022
30,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424136083000DXD5rUp8htW2y0pkbXN3z6...,85f056fe-06a1-407e-8e93-6daef88857b2,(not set),90,1,90,25/08/2022
31,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424142159000DXD5rUp8htW2y0pkbXN3z6...,85f056fe-06a1-407e-8e93-6daef88857b2,(not set),90,1,90,25/08/2022
32,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,0d5d9e80-250f-4d3c-8263-31abc3ec8711,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022
33,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,a35667ce-8837-40f0-8f1e-7d0443500a45,Montezuma's Lordy Lord 70% Cocoa Dark Chocolate,330,1,330,25/08/2022
34,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,b1d16195-c2f7-4bad-b47d-8f48d97e6184,(not set),90,1,90,25/08/2022
35,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,ea47875e-0fec-4f0a-af74-31e14762c460,(not set),95,1,95,25/08/2022
36,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143760026200061gdPddDxtQcBdQycs15Z8...,3d324bcc-46f3-4bf5-a3d7-f6c0e5006837,Rockstar Original 500ml,90,1,90,25/08/2022
37,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143901421400061gdPddDxtQcBdQycs15Z8...,fa944bd0-0622-4e50-bd2c-1ac862d3b2e9,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022
38,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661440879,20220825166144089416600061gdPddDxtQcBdQycs15Z8...,c3e893e2-f18f-415e-abee-1ca2c13bee60,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022
39,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661440879,20220825166144090883400061gdPddDxtQcBdQycs15Z8...,bde31145-681f-488f-a4c1-805ae8cf7377,Boostballs Raw Chocolate Brownie,250,1,250,25/08/2022
40,20220825,1.661450e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661451540,20220825166145156354200061gdPddDxtQcBdQycs15Z8...,5463b660-3f78-4700-a85a-141cf5bd62fc,Rockstar Original 500ml,90,1,90,25/08/2022
41,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100,1,100,01/09/2022
42,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,01/09/2022
43,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,662201e4-847a-4552-a414-ff4bd7e879f3,Eat Real Sea Salt Hummus Chips,100,1,100,01/09/2022
44,20220901,1.662030e+15,OlVAIcxa7ybnHdhGqcBeUqqeG5k1,1662031112,202209011662032625945000OlVAIcxa7ybnHdhGqcBeUq...,48a7930c-8c1e-4f3a-8cad-2c6cd088fd6e,Eat Real Sea Salt Lentil Chips,100,1,100,01/09/2022
45,20220901,1.662040e+15,I3syFnbCEcPhqGNCDspJxc4zDBH2,1662036075,202209011662036263034000I3syFnbCEcPhqGNCDspJxc...,37ab98c1-f197-44ac-ac95-2101bcfa3a7f,Free From Fellow Gummy Bears,335,1,335,01/09/2022
46,20220902,1.662110e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1662108154,20220902166210816778900061gdPddDxtQcBdQycs15Z8...,cb3b546d-3a82-4abc-a5b4-53fc90302f57,Pana Chocolate Fig & Wild Orange,400,1,400,02/09/2022
47,20220902,1.662110e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1662108154,20220902166210821139000061gdPddDxtQcBdQycs15Z8...,971c24e5-0559-4cbb-906d-5f126255f609,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,02/09/2022
48,20220907,1.662570e+15,mZhPRMCe6ihCGgr4WLNKA74Lfcq2,1662566384,202209071662571009727000mZhPRMCe6ihCGgr4WLNKA7...,ec628d81-f751-4fa2-a288-f370acc8c272,(not set),100,1,100,07/09/2022
49,20220921,1.663770e+15,lnScbslfJ5U7Khe3HBGZyVCz3Jg1,1663769898,202209211663770615440000lnScbslfJ5U7Khe3HBGZyV...,db6ffc8d-f88e-4173-8ec9-c6b0bc66936c,(not set),90,1,90,21/09/2022
50,20220921,1.663770e+15,lnScbslfJ5U7Khe3HBGZyVCz3Jg1,1663769898,202209211663770615440000lnScbslfJ5U7Khe3HBGZyV...,db6ffc8d-f88e-4173-8ec9-c6b0bc66936c,(not set),90,1,90,21/09/2022

###### Check to see if all the session ids in app usage exist in product.

In [6]:
au_session_ids = set(app_usage.session_id.to_list())
p_session_ids = set(product.session_id.to_list())

In [7]:
assert p_session_ids.intersection(au_session_ids) == p_session_ids

In [8]:
p_session_ids == p_session_ids.intersection(au_session_ids)

True

We have confirmed that all session ids in product order is also in app usage

###### Investigating app usage join with product

In [10]:
product['session_timestamp'] = product['time']

In [11]:
app_product = pd.merge(app_usage, product, on=['session_timestamp', 'session_id'], how='left')

In [12]:
app_product

,event_date_x,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,date,time,user,order_id,item_id,item_name,price,quantity,total_cost,event_date_y
0,22/07/2022,1.658460e+15,Friday,0B907DABFE7A49CFB1CA0B43DEFC8A5E,NaN,1.658458e+09,1.0,New Visitor,4448006,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22/07/2022,1.658460e+15,Friday,2C1503D8D34246B8B2D875980614A0AA,NaN,1.658458e+09,1.0,New Visitor,4426006,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22/07/2022,1.658500e+15,Friday,FEB0684ADBFD48DC9A373A679CB338B8,NaN,1.658501e+09,1.0,New Visitor,4079006,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22/07/2022,1.658500e+15,Friday,721D880E47464D10A0DFEF50D52238BA,NaN,1.658501e+09,1.0,New Visitor,4388007,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22/07/2022,1.658490e+15,Friday,b1ad626d2506be76b5a74b6383335736,NaN,1.658489e+09,1.0,New Visitor,7681056002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,s5sMqCayngaywqUZPIfa47lxMsm2,1.658951e+09,2.0,Returning Visitor,2033057010,1,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952418484000s5sMqCayngaywqUZPIfa47...,441f864f-46de-4104-b121-e5c039b0640d,(not set),2400.0,1.0,2400.0,27/07/2022
1847,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,s5sMqCayngaywqUZPIfa47lxMsm2,1.658951e+09,2.0,Returning Visitor,2033057010,1,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952473498000s5sMqCayngaywqUZPIfa47...,3ff66092-3fa0-49a8-81fb-b3ecb7fa8c15,CHIKA'S Lightly Salted Plantain Crisps,145.0,1.0,145.0,27/07/2022
1848,27/07/2022,1.658930e+15,Wednesday,B0B0B310F92F400B8C109D565066B462,mrbnbVlZwaX86nBmFq6zeba9a0J2,1.658929e+09,3.0,Returning Visitor,892054039,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1849,11/05/2022,1.652280e+15,Wednesday,E0F9A84DC1414FE8B28AA887CD6B0467,Hplbz2VVhRVFbvftbC6z63vIeF83,1.652284e+09,2.0,Returning Visitor,76698001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850,11/05/2022,1.652280e+15,Wednesday,65fe7b5d2163cf33a20fdb612bdd1004,hPGNI11lKYXyqJa8LpewjgHuCGM2,1.652280e+09,24.0,Returning Visitor,2653675035,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Only investigate session_ids that have an order against them

In [13]:
app_product_order = app_product.dropna(subset=['order_id'])
app_product_order

,event_date_x,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,date,time,user,order_id,item_id,item_name,price,quantity,total_cost,event_date_y
152,05/08/2022,1.659700e+15,Friday,9A6EDE6540B54BE2987FCEDDF4986A76,fvvpm6afISaFbcNa4GF7m62D83n2,1.659702e+09,8.0,Returning Visitor,4476175001,1,...,20220805.0,1.659700e+15,fvvpm6afISaFbcNa4GF7m62D83n2,202208051659704975483000fvvpm6afISaFbcNa4GF7m6...,25eeb3b7-ccf6-47cb-8ef2-baba20f61430,Coffee,150.0,1.0,150.0,05/08/2022
179,29/07/2022,1.659100e+15,Friday,b91328642125c34635dc9abbdb4d4d38,EOVcuUoJq0eqU0SB4Fc4Yi2NVS32,1.659099e+09,8.0,Returning Visitor,7340379008,1,...,20220729.0,1.659100e+15,EOVcuUoJq0eqU0SB4Fc4Yi2NVS32,202207291659099273292000EOVcuUoJq0eqU0SB4Fc4Yi...,739a31cf-f425-4179-96b1-076edaf4e78b,(not set),2400.0,1.0,2400.0,29/07/2022
180,29/07/2022,1.659100e+15,Friday,b91328642125c34635dc9abbdb4d4d38,EOVcuUoJq0eqU0SB4Fc4Yi2NVS32,1.659099e+09,8.0,Returning Visitor,7340379008,1,...,20220729.0,1.659100e+15,EOVcuUoJq0eqU0SB4Fc4Yi2NVS32,202207291659099303514000EOVcuUoJq0eqU0SB4Fc4Yi...,739a31cf-f425-4179-96b1-076edaf4e78b,(not set),2400.0,1.0,2400.0,29/07/2022
267,02/09/2022,1.662110e+15,Friday,CA987884BA0A47A4AF602B365E8F0E82,61gdPddDxtQcBdQycs15Z8UhYHl2,1.662108e+09,23.0,Returning Visitor,56552001,1,...,20220902.0,1.662110e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,20220902166210816778900061gdPddDxtQcBdQycs15Z8...,cb3b546d-3a82-4abc-a5b4-53fc90302f57,Pana Chocolate Fig & Wild Orange,400.0,1.0,400.0,02/09/2022
268,02/09/2022,1.662110e+15,Friday,CA987884BA0A47A4AF602B365E8F0E82,61gdPddDxtQcBdQycs15Z8UhYHl2,1.662108e+09,23.0,Returning Visitor,56552001,1,...,20220902.0,1.662110e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,20220902166210821139000061gdPddDxtQcBdQycs15Z8...,971c24e5-0559-4cbb-906d-5f126255f609,Clif Bar Peanut Butter Banana With Dark Chocolate,230.0,1.0,230.0,02/09/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1787,20/07/2022,1.658320e+15,Wednesday,12b8871209c2c81f891fd66ac6663867,K9KeA6etCVe1opm6b1ThDsMiVW33,1.658319e+09,6.0,Returning Visitor,3732282015,1,...,20220720.0,1.658320e+15,K9KeA6etCVe1opm6b1ThDsMiVW33,202207201658323137742000K9KeA6etCVe1opm6b1ThDs...,555adc33-38da-4d54-aa87-279301dfc7ad,Free From Fellows Pear Drops,335.0,1.0,335.0,20/07/2022
1831,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,epBZizqWkJQ8amnwkktp6JQj57n1,1.658951e+09,2.0,Returning Visitor,10476001,0,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952418484000s5sMqCayngaywqUZPIfa47...,441f864f-46de-4104-b121-e5c039b0640d,(not set),2400.0,1.0,2400.0,27/07/2022
1832,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,epBZizqWkJQ8amnwkktp6JQj57n1,1.658951e+09,2.0,Returning Visitor,10476001,0,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952473498000s5sMqCayngaywqUZPIfa47...,3ff66092-3fa0-49a8-81fb-b3ecb7fa8c15,CHIKA'S Lightly Salted Plantain Crisps,145.0,1.0,145.0,27/07/2022
1846,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,s5sMqCayngaywqUZPIfa47lxMsm2,1.658951e+09,2.0,Returning Visitor,2033057010,1,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952418484000s5sMqCayngaywqUZPIfa47...,441f864f-46de-4104-b121-e5c039b0640d,(not set),2400.0,1.0,2400.0,27/07/2022
1847,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,s5sMqCayngaywqUZPIfa47lxMsm2,1.658951e+09,2.0,Returning Visitor,2033057010,1,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952473498000s5sMqCayngaywqUZPIfa47...,3ff66092-3fa0-49a8-81fb-b3ecb7fa8c15,CHIKA'S Lightly Salted Plantain Crisps,145.0,1.0,145.0,27/07/2022

In [14]:
app_product_order = app_product_order.copy(deep=True)
app_product_order['temp_id'] = [i for i in range(0, app_product_order.shape[0])]

In [15]:
session_id_count = app_product_order[['temp_id', 'session_id']].groupby(by=['session_id']).count().sort_values('temp_id', ascending=False)
session_id_count

              temp_id
session_id
1.662031e+09        6
1.661437e+09        6
1.658938e+09        6
1.661422e+09        5
1.663770e+09        4
1.659347e+09        4
1.658951e+09        4
1.661423e+09        4
1.655739e+09        3
1.659099e+09        2
1.661424e+09        2
1.661441e+09        2
1.658319e+09        2
1.662031e+09        2
1.662108e+09        2
1.659702e+09        1
1.660065e+09        1
1.661328e+09        1
1.655916e+09        1
1.659018e+09        1
1.658833e+09        1
1.661452e+09        1
1.662036e+09        1
1.662566e+09        1
1.661332e+09        1

Take the most populated session ids to see how the join affects them

In [16]:
session_id_1 = session_id_count.index[0]
session_id_2 = session_id_count.index[1]
session_id_3 = session_id_count.index[2]
session_id_4 = session_id_count.index[3]
session_id_5 = session_id_count.index[4]
session_ids_check = [session_id_1, session_id_2, session_id_3, session_id_4, session_id_5]

In [17]:
app_usage[app_usage['session_id'] == session_id_1]

,event_date,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive
1049,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,NaN,1.662031e+09,1.0,New Visitor,16103999,0,...,7,0,0,0,0,0.0,0,0,0,0
1051,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1.662031e+09,1.0,New Visitor,1513866073,1,...,124,0,9,58,0,492781003.0,9,2,0,0

In [18]:
product[product['session_id'] == session_id_1].drop_duplicates()

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
41,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100,1,100,01/09/2022,1.662030e+15
42,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,01/09/2022,1.662030e+15
43,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,662201e4-847a-4552-a414-ff4bd7e879f3,Eat Real Sea Salt Hummus Chips,100,1,100,01/09/2022,1.662030e+15

In [19]:
app_product_order[app_product_order['session_id'] == session_id_1]

,event_date_x,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,time,user,order_id,item_id,item_name,price,quantity,total_cost,event_date_y,temp_id
1056,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,NaN,1.662031e+09,1.0,New Visitor,16103999,0,...,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100.0,1.0,100.0,01/09/2022,19
1057,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,NaN,1.662031e+09,1.0,New Visitor,16103999,0,...,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230.0,1.0,230.0,01/09/2022,20
1058,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,NaN,1.662031e+09,1.0,New Visitor,16103999,0,...,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,662201e4-847a-4552-a414-ff4bd7e879f3,Eat Real Sea Salt Hummus Chips,100.0,1.0,100.0,01/09/2022,21
1060,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1.662031e+09,1.0,New Visitor,1513866073,1,...,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100.0,1.0,100.0,01/09/2022,23
1061,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1.662031e+09,1.0,New Visitor,1513866073,1,...,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230.0,1.0,230.0,01/09/2022,24
1062,01/09/2022,1.662030e+15,Thursday,54DE3B08C179454BACFE0ABBC3950735,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1.662031e+09,1.0,New Visitor,1513866073,1,...,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,662201e4-847a-4552-a414-ff4bd7e879f3,Eat Real Sea Salt Hummus Chips,100.0,1.0,100.0,01/09/2022,25

In [20]:
app_product_order[app_product_order['session_id'] == session_id_1]['order_id'].unique()

array(['202209011662031694866000oRO6lo05lSR2IZEpkYQk0ewQjBW2',
       '202209011662031860928000oRO6lo05lSR2IZEpkYQk0ewQjBW2'],
      dtype=object)

In [21]:
app_product_order[app_product_order['session_id'] == session_id_1]['item_id'].unique()

array(['0e204af1-6834-4c4b-8c7a-a21cfa48505a',
       '43f490e5-d13d-4736-95eb-5f22774ea6c4',
       '662201e4-847a-4552-a414-ff4bd7e879f3'], dtype=object)

Partial Conclusion for product and app usage data join - we could drop duplicates based on session_id, order_id, item_id, and any time related variables

In [22]:
app_product.drop_duplicates(subset=['item_id', 'order_id', 'session_id', 'session_timestamp', 'session_duration_microseconds', 'user_id'])

,event_date_x,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,date,time,user,order_id,item_id,item_name,price,quantity,total_cost,event_date_y
0,22/07/2022,1.658460e+15,Friday,0B907DABFE7A49CFB1CA0B43DEFC8A5E,NaN,1.658458e+09,1.0,New Visitor,4448006,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22/07/2022,1.658460e+15,Friday,2C1503D8D34246B8B2D875980614A0AA,NaN,1.658458e+09,1.0,New Visitor,4426006,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22/07/2022,1.658500e+15,Friday,FEB0684ADBFD48DC9A373A679CB338B8,NaN,1.658501e+09,1.0,New Visitor,4079006,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22/07/2022,1.658500e+15,Friday,721D880E47464D10A0DFEF50D52238BA,NaN,1.658501e+09,1.0,New Visitor,4388007,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22/07/2022,1.658490e+15,Friday,b1ad626d2506be76b5a74b6383335736,NaN,1.658489e+09,1.0,New Visitor,7681056002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1846,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,s5sMqCayngaywqUZPIfa47lxMsm2,1.658951e+09,2.0,Returning Visitor,2033057010,1,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952418484000s5sMqCayngaywqUZPIfa47...,441f864f-46de-4104-b121-e5c039b0640d,(not set),2400.0,1.0,2400.0,27/07/2022
1847,27/07/2022,1.658950e+15,Wednesday,fc6f61992a68474bc830aa306bbdf0cb,s5sMqCayngaywqUZPIfa47lxMsm2,1.658951e+09,2.0,Returning Visitor,2033057010,1,...,20220727.0,1.658950e+15,s5sMqCayngaywqUZPIfa47lxMsm2,202207271658952473498000s5sMqCayngaywqUZPIfa47...,3ff66092-3fa0-49a8-81fb-b3ecb7fa8c15,CHIKA'S Lightly Salted Plantain Crisps,145.0,1.0,145.0,27/07/2022
1848,27/07/2022,1.658930e+15,Wednesday,B0B0B310F92F400B8C109D565066B462,mrbnbVlZwaX86nBmFq6zeba9a0J2,1.658929e+09,3.0,Returning Visitor,892054039,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1849,11/05/2022,1.652280e+15,Wednesday,E0F9A84DC1414FE8B28AA887CD6B0467,Hplbz2VVhRVFbvftbC6z63vIeF83,1.652284e+09,2.0,Returning Visitor,76698001,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1850,11/05/2022,1.652280e+15,Wednesday,65fe7b5d2163cf33a20fdb612bdd1004,hPGNI11lKYXyqJa8LpewjgHuCGM2,1.652280e+09,24.0,Returning Visitor,2653675035,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Are Order ids in the product order table falsely generated?

In [23]:
product[product['session_id'] == session_id_1]

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
41,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100,1,100,01/09/2022,1.662030e+15
42,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,01/09/2022,1.662030e+15
43,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,662201e4-847a-4552-a414-ff4bd7e879f3,Eat Real Sea Salt Hummus Chips,100,1,100,01/09/2022,1.662030e+15

In [24]:
# Note even the session timestamp is the same
product[product['session_id'] == session_id_1].drop_duplicates(subset=['order_id', 'session_timestamp'])

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
41,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100,1,100,01/09/2022,1.662030e+15
42,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,01/09/2022,1.662030e+15

##### Check for all product_order sessions to see if order id is duplicated.

In [25]:
sessions_dfs_list = []
for session_id in session_ids_check:
    sessions_dfs_list.append(product[product['session_id'] == session_id])

In [26]:
sessions_dfs_list[0]

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
41,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100,1,100,01/09/2022,1.662030e+15
42,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,01/09/2022,1.662030e+15
43,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,662201e4-847a-4552-a414-ff4bd7e879f3,Eat Real Sea Salt Hummus Chips,100,1,100,01/09/2022,1.662030e+15

In [27]:
sessions_dfs_list[0].drop_duplicates(subset=['order_id', 'session_timestamp', 'item_id'])

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
41,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031694866000oRO6lo05lSR2IZEpkYQk0e...,0e204af1-6834-4c4b-8c7a-a21cfa48505a,Eat Real Sea Salt Lentil Chips,100,1,100,01/09/2022,1.662030e+15
42,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,43f490e5-d13d-4736-95eb-5f22774ea6c4,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,01/09/2022,1.662030e+15
43,20220901,1.662030e+15,oRO6lo05lSR2IZEpkYQk0ewQjBW2,1662030591,202209011662031860928000oRO6lo05lSR2IZEpkYQk0e...,662201e4-847a-4552-a414-ff4bd7e879f3,Eat Real Sea Salt Hummus Chips,100,1,100,01/09/2022,1.662030e+15

In [28]:
sessions_dfs_list[1]

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
32,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,0d5d9e80-250f-4d3c-8263-31abc3ec8711,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022,1.661440e+15
33,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,a35667ce-8837-40f0-8f1e-7d0443500a45,Montezuma's Lordy Lord 70% Cocoa Dark Chocolate,330,1,330,25/08/2022,1.661440e+15
34,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,b1d16195-c2f7-4bad-b47d-8f48d97e6184,(not set),90,1,90,25/08/2022,1.661440e+15
35,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,ea47875e-0fec-4f0a-af74-31e14762c460,(not set),95,1,95,25/08/2022,1.661440e+15
36,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143760026200061gdPddDxtQcBdQycs15Z8...,3d324bcc-46f3-4bf5-a3d7-f6c0e5006837,Rockstar Original 500ml,90,1,90,25/08/2022,1.661440e+15
37,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143901421400061gdPddDxtQcBdQycs15Z8...,fa944bd0-0622-4e50-bd2c-1ac862d3b2e9,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022,1.661440e+15

In [29]:
sessions_dfs_list[1]["session_timestamp"] = pd.to_datetime(sessions_dfs_list[1]["session_timestamp"]).dt.strftime("%H:%M:%S.%f")
sessions_dfs_list[1].drop_duplicates(subset=['order_id','session_timestamp', 'item_id'])

C:\Users\samukhia\AppData\Local\Temp\ipykernel_5332\2745330762.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sessions_dfs_list[1]["session_timestamp"] = pd.to_datetime(sessions_dfs_list[1]["session_timestamp"]).dt.strftime("%H:%M:%S.%f")

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
32,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,0d5d9e80-250f-4d3c-8263-31abc3ec8711,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022,05:30:40.000000
33,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,a35667ce-8837-40f0-8f1e-7d0443500a45,Montezuma's Lordy Lord 70% Cocoa Dark Chocolate,330,1,330,25/08/2022,05:30:40.000000
34,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,b1d16195-c2f7-4bad-b47d-8f48d97e6184,(not set),90,1,90,25/08/2022,05:30:40.000000
35,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143732565600061gdPddDxtQcBdQycs15Z8...,ea47875e-0fec-4f0a-af74-31e14762c460,(not set),95,1,95,25/08/2022,05:30:40.000000
36,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143760026200061gdPddDxtQcBdQycs15Z8...,3d324bcc-46f3-4bf5-a3d7-f6c0e5006837,Rockstar Original 500ml,90,1,90,25/08/2022,05:30:40.000000
37,20220825,1.661440e+15,61gdPddDxtQcBdQycs15Z8UhYHl2,1661437284,20220825166143901421400061gdPddDxtQcBdQycs15Z8...,fa944bd0-0622-4e50-bd2c-1ac862d3b2e9,Clif Bar Peanut Butter Banana With Dark Chocolate,230,1,230,25/08/2022,05:30:40.000000

### Other observations & issues to flag related to Data Quality

The Data quality or recording is not great for those for which purchases were made (e.g. not set item names).

Why have two records of the same item being ordered been assigned to separate item_ids? This is an issue because while we could get the product order table aggregated to a session level by summing up the price, quantity and cost, with separate item_ids for the same item being bought (and assigned quantity = 1, instead of 2) we would potentially be duplicating records and counts - hence unreliable data. 

###### The general relationship is that a single session can have multiple orders (order_ids) and these orders can have multiple items (item_id).

In [30]:
sessions_dfs_list[2]

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
6,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,813cb1bb-728e-48c8-8c9c-f335763ba56b,Kiddylicious Veggie Straws,50,1,50,27/07/2022,1.658940e+15
7,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,9a4aa368-63ba-4be0-a881-ad6dbb5e6c39,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,27/07/2022,1.658940e+15
8,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,b3d00a97-f036-4978-ada8-057759f292d3,Joe & Sephs Marmite Popcorn,380,1,380,27/07/2022,1.658940e+15

In [31]:
sessions_dfs_list[2].drop_duplicates(subset=['order_id','session_timestamp', 'item_id'])

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
6,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,813cb1bb-728e-48c8-8c9c-f335763ba56b,Kiddylicious Veggie Straws,50,1,50,27/07/2022,1.658940e+15
7,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,9a4aa368-63ba-4be0-a881-ad6dbb5e6c39,CHIKA'S Lightly Salted Plantain Crisps,145,1,145,27/07/2022,1.658940e+15
8,20220727,1.658940e+15,IqxjCqmJkQZ1WCLeH53CxqD4zAN2,1658938493,202207271658938664417000IqxjCqmJkQZ1WCLeH53Cxq...,b3d00a97-f036-4978-ada8-057759f292d3,Joe & Sephs Marmite Popcorn,380,1,380,27/07/2022,1.658940e+15

In [32]:
sessions_dfs_list[3]

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
25,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661423913655000DXD5rUp8htW2y0pkbXN3z6...,69df1497-7a6c-4c2d-8a02-c5d49344b427,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022,1.661420e+15
26,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661423926053000DXD5rUp8htW2y0pkbXN3z6...,69df1497-7a6c-4c2d-8a02-c5d49344b427,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022,1.661420e+15
27,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424004550000DXD5rUp8htW2y0pkbXN3z6...,4decf21c-a85a-402f-a0dc-1401617c426e,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022,1.661420e+15
30,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424136083000DXD5rUp8htW2y0pkbXN3z6...,85f056fe-06a1-407e-8e93-6daef88857b2,(not set),90,1,90,25/08/2022,1.661420e+15
31,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424142159000DXD5rUp8htW2y0pkbXN3z6...,85f056fe-06a1-407e-8e93-6daef88857b2,(not set),90,1,90,25/08/2022,1.661420e+15

In [33]:
sessions_dfs_list[3].drop_duplicates(subset=['order_id', 'item_id', 'session_timestamp'])

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
25,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661423913655000DXD5rUp8htW2y0pkbXN3z6...,69df1497-7a6c-4c2d-8a02-c5d49344b427,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022,1.661420e+15
26,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661423926053000DXD5rUp8htW2y0pkbXN3z6...,69df1497-7a6c-4c2d-8a02-c5d49344b427,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022,1.661420e+15
27,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424004550000DXD5rUp8htW2y0pkbXN3z6...,4decf21c-a85a-402f-a0dc-1401617c426e,Eat Real Sea Salt Lentil Chips,100,1,100,25/08/2022,1.661420e+15
30,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424136083000DXD5rUp8htW2y0pkbXN3z6...,85f056fe-06a1-407e-8e93-6daef88857b2,(not set),90,1,90,25/08/2022,1.661420e+15
31,20220825,1.661420e+15,DXD5rUp8htW2y0pkbXN3z6oJWFt2,1661422106,202208251661424142159000DXD5rUp8htW2y0pkbXN3z6...,85f056fe-06a1-407e-8e93-6daef88857b2,(not set),90,1,90,25/08/2022,1.661420e+15

In [34]:
sessions_dfs_list[4]

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date,session_timestamp
49,20220921,1.663770e+15,lnScbslfJ5U7Khe3HBGZyVCz3Jg1,1663769898,202209211663770615440000lnScbslfJ5U7Khe3HBGZyV...,db6ffc8d-f88e-4173-8ec9-c6b0bc66936c,(not set),90,1,90,21/09/2022,1.663770e+15
50,20220921,1.663770e+15,lnScbslfJ5U7Khe3HBGZyVCz3Jg1,1663769898,202209211663770615440000lnScbslfJ5U7Khe3HBGZyV...,db6ffc8d-f88e-4173-8ec9-c6b0bc66936c,(not set),90,1,90,21/09/2022,1.663770e+15

#### A possible avenue with Product Order table

1. Aggregate the Data to a session level by summing across price, quantity and total_cost. This ignores the multiple order ids and items that are linked to the session. 
    - An advantage of this is that we don't have to worry about (not set) types of items either. 
    - Although, doing this could enable DQ issues to seep in. From the examples it seems like the same items are being assigned different item_ids event though they could potentially have been summed up to a single record by quantity, price and total cost.

### Investigating the App Usage Table

Can the app usage table be deduped through aggregation of duplicated session_id's?

In [35]:
app_ses_count = app_usage[['session_timestamp', 'session_id']].groupby('session_id').count().sort_values(by=['session_timestamp'], ascending=False)
app_ses_count

              session_timestamp
session_id
1.665131e+09                  4
1.657635e+09                  4
1.659530e+09                  3
1.651148e+09                  3
1.660637e+09                  3
...                         ...
1.657640e+09                  1
1.657635e+09                  1
1.657634e+09                  1
1.657626e+09                  1
1.665335e+09                  1

[1381 rows x 1 columns]

In [36]:
app_s1 = app_ses_count.index[0]
app_s2 = app_ses_count.index[1]
app_s3 = app_ses_count.index[2]
app_s4 = app_ses_count.index[3]
app_s5 = app_ses_count.index[4]

In [37]:
app_usage[app_usage['session_id'] == app_s1]

,event_date,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive
131,07/10/2022,1.665130e+15,Friday,1FF256035BA247B0AF2480887ABD0434,K9ffHGwcTGhckoDxos4N5WDAj4o1,1.665131e+09,49.0,Returning Visitor,18644000,0,...,9,0,0,0,0,5.511004e+06,0,0,0,0
132,07/10/2022,1.665130e+15,Friday,1FF256035BA247B0AF2480887ABD0434,qn0hSmruuzO3NqaBbXqWBBy1zEs2,1.665131e+09,49.0,Returning Visitor,964137999,0,...,25,0,0,3,0,5.015201e+07,0,0,0,0
133,07/10/2022,1.665130e+15,Friday,1FF256035BA247B0AF2480887ABD0434,aJlMaH427LM2FRvQIMhgr0DzPXu1,1.665131e+09,49.0,Returning Visitor,84153000,0,...,26,0,1,0,0,1.079300e+07,0,0,0,0
134,07/10/2022,1.665130e+15,Friday,1FF256035BA247B0AF2480887ABD0434,K9KeA6etCVe1opm6b1ThDsMiVW33,1.665131e+09,49.0,Returning Visitor,1280950033,0,...,27,0,6,2,0,1.118041e+09,0,0,0,0

What is the difference between user_id and user_customer_id?

In [38]:
app_usage.user_customer_id.nunique()

268

In [39]:
app_usage.columns

Index(['event_date', 'session_timestamp', 'event_wday', 'user_id',
       'user_customer_id', 'session_id', 'ga_session_number', 'customer_type',
       'session_duration_microseconds', 'completed_transaction', 'signed_up',
       'transaction_value', 'pages_visited', 'app_removed',
       'personalise_store_pageviews', 'purposeful_shelves_pageviews',
       'digi_me_pageviews', 'homepage_duration_microseconds', 'add_to_cart',
       'scan_qr', 'notification_open', 'notification_receive'],
      dtype='object')

In [40]:
app_usage[app_usage['session_id'] == app_s1][['signed_up', 'transaction_value']]

     signed_up  transaction_value
131          0                NaN
132          0                NaN
133          1                NaN
134          0                NaN

In [41]:
app_usage[app_usage['session_id'] == app_s2][['event_date', 'session_timestamp', 'event_wday', 'session_id', 
                                              'customer_type', 'session_duration_microseconds', 
                                              'completed_transaction', 'signed_up', 'transaction_value', 
                                              'pages_visited', 'app_removed', 'personalise_store_pageviews', 
                                              'purposeful_shelves_pageviews', 'digi_me_pageviews', 
                                              'homepage_duration_microseconds', 'add_to_cart', 'scan_qr', 
                                              'notification_open', 'notification_receive']]

,event_date,session_timestamp,event_wday,session_id,customer_type,session_duration_microseconds,completed_transaction,signed_up,transaction_value,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive
611,12/07/2022,1.657640e+15,Tuesday,1.657635e+09,New Visitor,70615596,0,0,NaN,0,0,0,0,0,0.0,0,0,0,0
612,12/07/2022,1.657630e+15,Tuesday,1.657635e+09,New Visitor,0,0,0,NaN,0,0,0,0,0,0.0,0,0,0,0
614,12/07/2022,1.657630e+15,Tuesday,1.657635e+09,New Visitor,38522425,0,0,NaN,0,0,0,0,0,0.0,0,0,0,0
615,12/07/2022,1.657630e+15,Tuesday,1.657635e+09,New Visitor,0,0,0,NaN,0,0,0,0,0,0.0,0,0,0,0

In [42]:
app_usage[app_usage['session_id'] == app_s3][['event_date', 'session_timestamp', 'event_wday', 'session_id', 
                                              'customer_type', 'session_duration_microseconds', 
                                              'completed_transaction', 'signed_up', 'transaction_value', 
                                              'pages_visited', 'app_removed', 'personalise_store_pageviews', 
                                              'purposeful_shelves_pageviews', 'digi_me_pageviews', 
                                              'homepage_duration_microseconds', 'add_to_cart', 'scan_qr', 
                                              'notification_open', 'notification_receive']]

,event_date,session_timestamp,event_wday,session_id,customer_type,session_duration_microseconds,completed_transaction,signed_up,transaction_value,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive
1380,03/08/2022,1.659530e+15,Wednesday,1.659530e+09,New Visitor,52990009,0,0,NaN,8,0,0,0,0,9.959002e+06,0,0,0,0
1381,03/08/2022,1.659530e+15,Wednesday,1.659530e+09,New Visitor,8834946008,0,1,NaN,73,0,9,7,0,5.031757e+09,1,2,0,0
1382,03/08/2022,1.659530e+15,Wednesday,1.659530e+09,New Visitor,377003,0,0,NaN,4,0,0,0,0,0.000000e+00,0,0,0,0

In [43]:
app_usage[app_usage['session_id'] == app_s4][['event_date', 'session_timestamp', 'event_wday', 'session_id', 
                                              'customer_type', 'session_duration_microseconds', 
                                              'completed_transaction', 'signed_up', 'transaction_value', 
                                              'pages_visited', 'app_removed', 'personalise_store_pageviews', 
                                              'purposeful_shelves_pageviews', 'digi_me_pageviews', 
                                              'homepage_duration_microseconds', 'add_to_cart', 'scan_qr', 
                                              'notification_open', 'notification_receive']]

,event_date,session_timestamp,event_wday,session_id,customer_type,session_duration_microseconds,completed_transaction,signed_up,transaction_value,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive
977,28/04/2022,1.651150e+15,Thursday,1.651148e+09,New Visitor,8734003,0,0,NaN,3,0,0,0,0,0.0,0,0,0,0
984,28/04/2022,1.651150e+15,Thursday,1.651148e+09,New Visitor,508483004,0,1,NaN,33,0,10,8,1,100217022.0,0,0,0,1
1440,22/06/2022,1.655930e+15,Wednesday,1.651148e+09,New Visitor,0,0,0,NaN,0,1,0,0,0,0.0,0,0,0,0

In [44]:
app_usage[app_usage['session_id'] == app_s5][['event_date', 'session_timestamp', 'event_wday', 'session_id', 
                                              'customer_type', 'session_duration_microseconds', 
                                              'completed_transaction', 'signed_up', 'transaction_value', 
                                              'pages_visited', 'app_removed', 'personalise_store_pageviews', 
                                              'purposeful_shelves_pageviews', 'digi_me_pageviews', 
                                              'homepage_duration_microseconds', 'add_to_cart', 'scan_qr', 
                                              'notification_open', 'notification_receive']]

,event_date,session_timestamp,event_wday,session_id,customer_type,session_duration_microseconds,completed_transaction,signed_up,transaction_value,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive
583,16/08/2022,1.660640e+15,Tuesday,1.660637e+09,New Visitor,1189003,0,0,NaN,4,0,0,0,0,0.0,0,0,0,0
585,16/08/2022,1.660640e+15,Tuesday,1.660637e+09,New Visitor,42926012,0,0,NaN,9,0,0,2,0,15821002.0,0,0,0,0
586,16/08/2022,1.660640e+15,Tuesday,1.660637e+09,New Visitor,77489004,0,1,NaN,11,0,1,2,0,27442999.0,0,0,0,0

#### Partial conclusion

1) App usage could be aggregated to the session id level. Different aggregation functions would be needed for different fields. 

    Summation of session_duration_microseconds, pages_visited, personalise_store_pageviews, purposeful_shelves_pageviews, homepage_duration_microseconds, scan_qr.
        
    Max of completed_transaction, signed_up, add_to_cart, notification_open, notification_receive.