In [1]:
import pandas as pd
import numpy as np

In [2]:
app_usage = pd.read_csv("app_usage.csv")
beacon = pd.read_csv("beacon_data.csv")
product = pd.read_csv("product_order.csv")

In [3]:
# encode session id as string
app_usage['session_id'] = app_usage['session_id'].astype(str)
product['session_id'] = app_usage['session_id'].astype(str)

In [4]:
app_usage = app_usage.sort_values(by=['user_customer_id'], na_position='last').drop_duplicates(subset=['session_id'])

In [5]:
app_usage.shape

(1382, 22)

In [6]:
product.head()

,date,time,user,session_id,order_id,item_id,item_name,price,quantity,total_cost,event_date
0,20220617,1.655470e+15,CK8zzagBwJaJz3eygIuvIWBL4Mu1,1658457686.0,202206171655471279627000CK8zzagBwJaJz3eygIuvIW...,1e7a3c17-888b-4446-8dce-09f4dc52f0f5,Oomf Golden Syrup Flavour,190,1,190,17/06/2022
1,20220620,1.655740e+15,x3vKlw36WLYCI1TFmw5pGUW7ye82,1658457629.0,202206201655742042734000x3vKlw36WLYCI1TFmw5pGU...,f641e883-dc6b-4373-9a4e-02beaa832dfa,Oomf Golden Syrup Flavour,190,1,190,20/06/2022
2,20220622,1.655920e+15,059VyWLoggdNE5iYtEKRPmN0Sk03,1658500947.0,202206221655917177240000059VyWLoggdNE5iYtEKRPm...,b8512ed1-2305-42c1-ae93-7e7aa0278739,Oomf Golden Syrup Flavour,190,1,190,22/06/2022
3,20220720,1.658320e+15,K9KeA6etCVe1opm6b1ThDsMiVW33,1658500957.0,202207201658323137742000K9KeA6etCVe1opm6b1ThDs...,b76d9a3d-92f7-41fc-b56a-86d92c5fac98,Montezuma's Absolute Black,500,1,500,20/07/2022
4,20220720,1.658320e+15,K9KeA6etCVe1opm6b1ThDsMiVW33,1658489297.0,202207201658323137742000K9KeA6etCVe1opm6b1ThDs...,555adc33-38da-4d54-aa87-279301dfc7ad,Free From Fellows Pear Drops,335,1,335,20/07/2022

In [7]:
product_features_cols = ['session_id', 'price', 'quantity', 'total_cost']

In [8]:
product_features = product[product_features_cols].groupby(by=['session_id']).sum()

In [9]:
product_features

              price  quantity  total_cost
session_id
1650026444.0    200         3         300
1655454534.0    185         2         185
1655454704.0    410         3         410
1655456593.0    570         3         570
1655458265.0     90         1          90
1655458438.0    100         1         100
1655460583.0    230         1         230
1655460692.0    100         1         100
1655461468.0    100         1         100
1655481498.0    735         2         735
1655482100.0    330         2         330
1656675748.0   1445         2        1445
1656685518.0   2545         2        2545
1657882807.0    100         1         100
1658457629.0    190         1         190
1658457686.0    190         1         190
1658489297.0    565         2         565
1658500947.0    190         1         190
1658500957.0    500         1         500
1659679992.0    320         2         320
1659694802.0    420         2         420
1659695671.0    100         1         100
1663931613.0    710         3         710
1663941739.0    295         2         295
1663943015.0    280         2         280
1664527155.0     50         1          50
1664534277.0    525         2         525
1665143869.0    145         1         145
1665144902.0    145         1         145
1665152900.0    145         1         145
1665160696.0   4800         2        4800
nan             230         1         230

##### Get app_usage and product data together

In [10]:
data = app_usage.merge(product_features, on=['session_id'], how='left')
data

,event_date,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,scan_qr,notification_open,notification_receive,price,quantity,total_cost
0,26/08/2022,1.661520e+15,Friday,435E180186744D1FAD851A928FD67CE7,01Ka3xx7ICMTlmMR8RiGzr36Qm42,1661516763.0,2.0,Returning Visitor,30292015,0,...,4,0,2.221003e+06,0,0,0,0,NaN,NaN,NaN
1,26/08/2022,1.661500e+15,Friday,435E180186744D1FAD851A928FD67CE7,01Ka3xx7ICMTlmMR8RiGzr36Qm42,1661495705.0,1.0,New Visitor,311526003,0,...,12,0,2.069148e+10,0,0,0,0,NaN,NaN,NaN
2,31/08/2022,1.661960e+15,Wednesday,435E180186744D1FAD851A928FD67CE7,01Ka3xx7ICMTlmMR8RiGzr36Qm42,1661958852.0,3.0,Returning Visitor,846039999,0,...,5,0,2.606200e+07,0,0,0,0,NaN,NaN,NaN
3,27/06/2022,1.656310e+15,Monday,A2ECCB4200624749A49AEEEB39069423,059VyWLoggdNE5iYtEKRPmN0Sk03,1656311064.0,13.0,Returning Visitor,26496010,0,...,1,0,1.523972e+10,0,0,0,0,NaN,NaN,NaN
4,26/09/2022,1.664190e+15,Monday,425BE6D7542E48E293126C8DECE56983,059VyWLoggdNE5iYtEKRPmN0Sk03,1664185206.0,7.0,Returning Visitor,3950000,0,...,0,0,0.000000e+00,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,06/04/2022,1.649240e+15,Wednesday,1136438a7674ade561cf6fb92fc3a220,NaN,1649241890.0,2.0,Returning Visitor,0,0,...,0,0,0.000000e+00,0,0,0,0,NaN,NaN,NaN
1378,10/08/2022,1.660140e+15,Wednesday,1510852451,NaN,1660141439.0,7.0,Returning Visitor,0,0,...,0,0,0.000000e+00,0,0,0,0,NaN,NaN,NaN
1379,21/09/2022,1.663750e+15,Wednesday,67318ef6e9bebdfbb45209460948fe85,NaN,1663753470.0,8.0,Returning Visitor,22463999,0,...,0,0,0.000000e+00,0,0,0,0,NaN,NaN,NaN
1380,21/09/2022,1.663760e+15,Wednesday,67318ef6e9bebdfbb45209460948fe85,NaN,1663764780.0,9.0,Returning Visitor,5079296999,0,...,0,0,0.000000e+00,0,0,0,0,NaN,NaN,NaN
1381,25/05/2022,1.653510e+15,Wednesday,CE08AE3CE64E45F58D8ECE686600BE9E,NaN,1653514045.0,5.0,Returning Visitor,73002,0,...,0,0,0.000000e+00,0,0,0,0,NaN,NaN,NaN

In [11]:
# beacon data at user level - this should be unique for beacon.
print(beacon.shape)
print(beacon.user_id.nunique())

(279, 16)
89

In [12]:
beacon_features_cols = set(beacon.columns) - set(app_usage.columns)
beacon_features_cols = beacon_features_cols.union({'user_id', 'event_date'})
beacon_features_cols = list(beacon_features_cols)

In [13]:
beacon_features = beacon[beacon_features_cols].copy(deep=True)
beacon_features

,entered_dm,entered_store,event_date,visited_personalised_store,visited_digi_me,entered_purposeful_shelves,user_id,entered_welcome,visited_purposeful_shelves
0,0,1,15/07/2022,0,0,0,12b8871209c2c81f891fd66ac6663867,0,0
1,0,1,07/10/2022,0,0,1,425BE6D7542E48E293126C8DECE56983,1,0
2,0,1,26/08/2022,0,0,0,CA987884BA0A47A4AF602B365E8F0E82,0,0
3,0,1,23/09/2022,0,0,0,425BE6D7542E48E293126C8DECE56983,0,0
4,0,1,23/09/2022,0,0,1,e086b005b05965ffe236c3bcc8546d4b,1,0
...,...,...,...,...,...,...,...,...,...
274,1,1,22/06/2022,0,0,1,A2ECCB4200624749A49AEEEB39069423,1,1
275,1,1,21/09/2022,1,0,1,2870cb5ae4f93dba7ae336130a01f15b,1,1
276,1,1,10/08/2022,0,0,1,effbc254ba576278fa5d064491958314,1,1
277,1,1,10/08/2022,0,0,1,9A6EDE6540B54BE2987FCEDDF4986A76,1,1
278,0,1,10/08/2022,0,0,1,9A6EDE6540B54BE2987FCEDDF4986A76,1,1

###### We want unique users. But there are multiple users and the features here are binary so cannot just be aggregated with a sum or a count function. Hence, time to investigate a bit more on whether or not a single user has 1 and 0 for the values accross these features.

In [14]:
beacon_features_users = beacon_features.groupby(by=['user_id']).count().sort_values(by=['entered_store'], ascending=False)
beacon_features_users

,entered_dm,entered_store,event_date,visited_personalised_store,visited_digi_me,entered_purposeful_shelves,entered_welcome,visited_purposeful_shelves
user_id,,,,,,,,
effbc254ba576278fa5d064491958314,26,26,26,26,26,26,26,26
24E67F68C97C46CA94C83083EE5BFF18,26,26,26,26,26,26,26,26
1FF256035BA247B0AF2480887ABD0434,18,18,18,18,18,18,18,18
12b8871209c2c81f891fd66ac6663867,11,11,11,11,11,11,11,11
9A6EDE6540B54BE2987FCEDDF4986A76,11,11,11,11,11,11,11,11
...,...,...,...,...,...,...,...,...
98487EC375EE4860BB883202AB1AEA8A,1,1,1,1,1,1,1,1
99a6a26a5615c3d9f44eaafd6050272e,1,1,1,1,1,1,1,1
2de8b55c73dfdf5310445a0a910249d3,1,1,1,1,1,1,1,1
2870cb5ae4f93dba7ae336130a01f15b,1,1,1,1,1,1,1,1
02A7455546FC47DCA3EC574C9CF95405,1,1,1,1,1,1,1,1

Lets look at the first three users

In [15]:
beacon[beacon.user_id == 'effbc254ba576278fa5d064491958314']

,event_date,session_timestamp,event_wday,user_id,user_customer_id,session_duration_microseconds,visited_personalised_store,personalise_store_pageviews,visited_purposeful_shelves,purposeful_shelves_pageviews,visited_digi_me,digi_me_pageviews,entered_store,entered_purposeful_shelves,entered_dm,entered_welcome
11,29/07/2022,1.659080e+15,Friday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,128224001,0,0,0,0,0,0,1,1,1,1
26,12/08/2022,1.660300e+15,Friday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,11068252010,1,9,1,12,0,0,1,1,1,1
38,05/08/2022,1.659690e+15,Friday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,132189002,0,0,1,2,0,0,1,0,0,1
46,25/07/2022,1.658750e+15,Monday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,251064002,0,0,0,0,0,0,1,1,0,1
50,15/08/2022,1.660550e+15,Monday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,17096346009,0,0,0,0,0,0,1,0,1,1
53,26/09/2022,1.664200e+15,Monday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,3386176096,1,15,0,0,0,0,1,1,1,1
57,01/08/2022,1.659340e+15,Monday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,7617863001,0,0,0,0,0,0,1,1,1,1
59,22/08/2022,1.661160e+15,Monday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,2778584014,1,1,1,11,0,0,1,1,1,1
72,08/08/2022,1.659950e+15,Monday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,3832430067,0,0,1,5,0,0,1,1,1,1
84,02/08/2022,1.659430e+15,Tuesday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,45339005,0,0,0,0,0,0,1,0,0,1
99,23/08/2022,1.661240e+15,Tuesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,1791527098,0,0,0,0,0,0,1,1,1,1
107,09/08/2022,1.660060e+15,Tuesday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,4800804008,0,0,0,0,0,0,1,1,1,1
113,16/08/2022,1.660640e+15,Tuesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,17044134005,0,0,1,8,0,0,1,1,1,1
119,13/09/2022,1.663070e+15,Tuesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,924050024,0,0,1,3,0,0,1,1,1,1
121,26/07/2022,1.658830e+15,Tuesday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,5754409024,0,0,1,6,0,0,1,1,1,1
140,06/09/2022,1.662460e+15,Tuesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,3430933008,1,1,1,4,0,0,1,1,1,1
147,04/08/2022,1.659600e+15,Thursday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,19186252001,0,0,0,0,0,0,1,1,0,1
160,29/09/2022,1.664440e+15,Thursday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,17775567048,1,3,0,0,0,0,1,1,1,1
203,25/08/2022,1.661420e+15,Thursday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,6691978999,1,5,1,1,0,0,1,1,1,1
221,28/09/2022,1.664370e+15,Wednesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,85934005,1,5,0,0,0,0,1,0,0,1
238,21/09/2022,1.663760e+15,Wednesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,1863226176,1,3,0,0,0,0,1,1,1,1
242,10/08/2022,1.660150e+15,Wednesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,78993002,0,0,0,0,0,0,1,0,0,1
252,03/08/2022,1.659510e+15,Wednesday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,16939634001,0,0,1,27,0,0,1,1,0,1
257,27/07/2022,1.658910e+15,Wednesday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,10307447022,1,4,1,1,0,0,1,1,1,1
270,17/08/2022,1.660740e+15,Wednesday,effbc254ba576278fa5d064491958314,SeQflhtOohaV0PLzC5qjH8MiihB3,570626020,1,6,1,15,0,0,1,1,0,1
276,10/08/2022,1.660140e+15,Wednesday,effbc254ba576278fa5d064491958314,ilkk3rXHfvRVozJzRT77tN1Bu9I2,11616225024,0,0,1,7,0,0,1,1,1,1

Clearly the same user has multiple 'sessions' but these aren't provided ID's in the beacon data. For now, it might just do to take the user activity based on the latest event_date and drop the rest. Then join that to the main table.

In [16]:
beacon_features = beacon_features.sort_values(
    by=['user_id', 'event_date'], ascending=False, na_position='last').drop_duplicates(subset=['user_id'])

In [17]:
beacon_features

,entered_dm,entered_store,event_date,visited_personalised_store,visited_digi_me,entered_purposeful_shelves,user_id,entered_welcome,visited_purposeful_shelves
204,1,1,28/07/2022,1,0,1,fc6f61992a68474bc830aa306bbdf0cb,1,1
160,1,1,29/09/2022,1,0,1,effbc254ba576278fa5d064491958314,1,0
123,1,1,26/07/2022,1,0,1,e83a33f72e24195902157cbd7948815f,1,1
161,0,1,01/09/2022,0,0,1,e50c33907c8ebe3556ef71747003327a,0,0
184,1,1,30/06/2022,1,0,1,e4e33b3c42f3c05e6ecc113b4532e044,1,1
...,...,...,...,...,...,...,...,...,...
227,0,1,24/08/2022,0,0,1,06712EB31167440BBB3E7FE69E9FA1DD,1,0
124,1,1,26/07/2022,1,0,1,06465f703c9e466a2c340731a4a7330d,1,1
39,0,1,17/06/2022,0,0,1,0495BC21A08B47E984EDDE3E2A07C8D4,1,1
259,0,1,28/09/2022,1,0,1,037a65f45e8fb37039108a686bf3ebe1,1,1
14,0,1,09/09/2022,1,0,1,02A7455546FC47DCA3EC574C9CF95405,0,0

#### Put all of the tables together

In [18]:
data = data.merge(beacon_features, on=['user_id', 'event_date'], how='left')
data

,event_date,session_timestamp,event_wday,user_id,user_customer_id,session_id,ga_session_number,customer_type,session_duration_microseconds,completed_transaction,...,price,quantity,total_cost,entered_dm,entered_store,visited_personalised_store,visited_digi_me,entered_purposeful_shelves,entered_welcome,visited_purposeful_shelves
0,26/08/2022,1.661520e+15,Friday,435E180186744D1FAD851A928FD67CE7,01Ka3xx7ICMTlmMR8RiGzr36Qm42,1661516763.0,2.0,Returning Visitor,30292015,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26/08/2022,1.661500e+15,Friday,435E180186744D1FAD851A928FD67CE7,01Ka3xx7ICMTlmMR8RiGzr36Qm42,1661495705.0,1.0,New Visitor,311526003,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31/08/2022,1.661960e+15,Wednesday,435E180186744D1FAD851A928FD67CE7,01Ka3xx7ICMTlmMR8RiGzr36Qm42,1661958852.0,3.0,Returning Visitor,846039999,0,...,NaN,NaN,NaN,0.0,1.0,0.0,0.0,1.0,1.0,1.0
3,27/06/2022,1.656310e+15,Monday,A2ECCB4200624749A49AEEEB39069423,059VyWLoggdNE5iYtEKRPmN0Sk03,1656311064.0,13.0,Returning Visitor,26496010,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26/09/2022,1.664190e+15,Monday,425BE6D7542E48E293126C8DECE56983,059VyWLoggdNE5iYtEKRPmN0Sk03,1664185206.0,7.0,Returning Visitor,3950000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1377,06/04/2022,1.649240e+15,Wednesday,1136438a7674ade561cf6fb92fc3a220,NaN,1649241890.0,2.0,Returning Visitor,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1378,10/08/2022,1.660140e+15,Wednesday,1510852451,NaN,1660141439.0,7.0,Returning Visitor,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1379,21/09/2022,1.663750e+15,Wednesday,67318ef6e9bebdfbb45209460948fe85,NaN,1663753470.0,8.0,Returning Visitor,22463999,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380,21/09/2022,1.663760e+15,Wednesday,67318ef6e9bebdfbb45209460948fe85,NaN,1663764780.0,9.0,Returning Visitor,5079296999,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1381,25/05/2022,1.653510e+15,Wednesday,CE08AE3CE64E45F58D8ECE686600BE9E,NaN,1653514045.0,5.0,Returning Visitor,73002,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###### Filtering out features not to be used for model

In [19]:
data.columns

Index(['event_date', 'session_timestamp', 'event_wday', 'user_id',
       'user_customer_id', 'session_id', 'ga_session_number', 'customer_type',
       'session_duration_microseconds', 'completed_transaction', 'signed_up',
       'transaction_value', 'pages_visited', 'app_removed',
       'personalise_store_pageviews', 'purposeful_shelves_pageviews',
       'digi_me_pageviews', 'homepage_duration_microseconds', 'add_to_cart',
       'scan_qr', 'notification_open', 'notification_receive', 'price',
       'quantity', 'total_cost', 'entered_dm', 'entered_store',
       'visited_personalised_store', 'visited_digi_me',
       'entered_purposeful_shelves', 'entered_welcome',
       'visited_purposeful_shelves'],
      dtype='object')

In [20]:
# Getting rid of ids and columns that aren't going to be used for model effectively (e.g. transaction_value as this
# will lead to data leakage in the case where we are predicting completed_transaction)
X_cols = ['event_date', 'session_timestamp', 'event_wday', 'customer_type',
       'session_duration_microseconds', 'signed_up', 'pages_visited', 'app_removed',
       'personalise_store_pageviews', 'purposeful_shelves_pageviews',
       'digi_me_pageviews', 'homepage_duration_microseconds', 'add_to_cart',
       'scan_qr', 'notification_open', 'notification_receive', 'price',
       'quantity', 'total_cost', 'entered_store', 'visited_purposeful_shelves',
       'entered_dm', 'visited_digi_me', 'visited_personalised_store',
       'entered_welcome', 'entered_purposeful_shelves']

y_col = ['session_id', 'completed_transaction']

Encoding week days numerically

In [21]:
print(data.event_wday.unique())
event_wday_recode = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}
data['event_wday'] = data['event_wday'].replace(event_wday_recode)

['Friday' 'Wednesday' 'Monday' 'Tuesday' 'Thursday' 'Saturday' 'Sunday']

Encoding other categorical variables numerically

In [22]:
print(data.customer_type.unique())
customer_type_recode = {'Returning Visitor': 0, 'New Visitor': 1}
data.customer_type = data.customer_type.replace(customer_type_recode)

['Returning Visitor' 'New Visitor']

In [23]:
data.add_to_cart.unique() # why does add_to_cart have multiple values?

array([ 0,  1,  5,  2, 13,  4, 16, 10,  6,  3,  9, 23,  7, 20, 19],
      dtype=int64)

In [24]:
data.scan_qr.unique() # why does scan_qr have multiple values?

array([ 0,  2,  1,  3,  5,  4, 20,  6, 57, 15, 28,  7, 22], dtype=int64)

In [25]:
data.notification_open.unique() # what do these values mean? Should we not expect binary values?

array([0, 1, 2], dtype=int64)

In [26]:
data.notification_receive.unique() # why do we have multiple values for notification_receive?

array([ 0,  2,  3,  1, 10,  4, 14,  7,  9,  6], dtype=int64)

Normalization of some features

In [27]:
# price, quantity and total_cost need to be normalised
from sklearn import preprocessing

data = data.replace({np.nan: 0})

minmax = preprocessing.MinMaxScaler(feature_range=(0,1))
data[['price', 'quantity', 
      'total_cost', 'session_duration_microseconds',
     'homepage_duration_microseconds']] = minmax.fit_transform(data[['price', 'quantity', 
                                                                     'total_cost', 'session_duration_microseconds',
                                                                    'homepage_duration_microseconds']])

In [28]:
print(data['entered_store'].unique()) 
print(data['visited_purposeful_shelves'].unique())
print(data['entered_dm'].unique()) 
print(data['visited_digi_me'].unique()) 
print(data['visited_personalised_store'].unique())
print(data['entered_welcome'].unique()) 
print(data['entered_purposeful_shelves'].unique())

[0. 1.]
[0. 1.]
[0. 1.]
[0.]
[0. 1.]
[0. 1.]
[0. 1.]

In [29]:
data['event_date']

0       26/08/2022
1       26/08/2022
2       31/08/2022
3       27/06/2022
4       26/09/2022
           ...
1377    06/04/2022
1378    10/08/2022
1379    21/09/2022
1380    21/09/2022
1381    25/05/2022
Name: event_date, Length: 1382, dtype: object

Encoding month as well as weekdays using a cyclical function

In [30]:
# Date and time feature engineering - only keep month from event_date and transform month and time to cyclical function.
import math
# normalize month to match the 0- 1/2pi cycle
data['month'] = pd.to_datetime(data['event_date'], dayfirst=True).dt.month
data['month_norm'] = math.pi/2 * data['month']/data['month'].max()
data['cos_month'] = np.cos(data['month_norm'])

In [31]:
data[['month', 'month_norm', 'cos_month']]

      month  month_norm  cos_month
0         8    1.256637   0.309017
1         8    1.256637   0.309017
2         8    1.256637   0.309017
3         6    0.942478   0.587785
4         9    1.413717   0.156434
...     ...         ...        ...
1377      4    0.628319   0.809017
1378      8    1.256637   0.309017
1379      9    1.413717   0.156434
1380      9    1.413717   0.156434
1381      5    0.785398   0.707107

[1382 rows x 3 columns]

In [32]:
# sample cyclical encoding of weekdays. 

data['event_wday_norm'] = 1/2 * math.pi * data['event_wday']/data['event_wday'].max()
data['cos_wday'] = np.cos(data['event_wday_norm'])

In [33]:
data[['event_wday', 'event_wday_norm', 'cos_wday']]

      event_wday  event_wday_norm  cos_wday
0              5         1.121997  0.433884
1              5         1.121997  0.433884
2              3         0.673198  0.781831
3              1         0.224399  0.974928
4              1         0.224399  0.974928
...          ...              ...       ...
1377           3         0.673198  0.781831
1378           3         0.673198  0.781831
1379           3         0.673198  0.781831
1380           3         0.673198  0.781831
1381           3         0.673198  0.781831

[1382 rows x 3 columns]

In [34]:
data.columns

Index(['event_date', 'session_timestamp', 'event_wday', 'user_id',
       'user_customer_id', 'session_id', 'ga_session_number', 'customer_type',
       'session_duration_microseconds', 'completed_transaction', 'signed_up',
       'transaction_value', 'pages_visited', 'app_removed',
       'personalise_store_pageviews', 'purposeful_shelves_pageviews',
       'digi_me_pageviews', 'homepage_duration_microseconds', 'add_to_cart',
       'scan_qr', 'notification_open', 'notification_receive', 'price',
       'quantity', 'total_cost', 'entered_dm', 'entered_store',
       'visited_personalised_store', 'visited_digi_me',
       'entered_purposeful_shelves', 'entered_welcome',
       'visited_purposeful_shelves', 'month', 'month_norm', 'cos_month',
       'event_wday_norm', 'cos_wday'],
      dtype='object')

In [35]:
dataset = data[['session_id','customer_type', 'session_duration_microseconds', 'signed_up', 
                   'pages_visited', 'app_removed', 'personalise_store_pageviews', 
                   'purposeful_shelves_pageviews', 'digi_me_pageviews', 
                   'homepage_duration_microseconds', 'add_to_cart', 'scan_qr', 
                   'notification_open', 'notification_receive', 'price',
                   'quantity', 'total_cost', 'entered_store', 'visited_purposeful_shelves',
                   'entered_dm', 'visited_digi_me', 'visited_personalised_store',
                   'entered_welcome', 'entered_purposeful_shelves',
                   'cos_month', 'cos_wday', 'completed_transaction']].set_index('session_id')

In [40]:
dataset

,customer_type,session_duration_microseconds,signed_up,pages_visited,app_removed,personalise_store_pageviews,purposeful_shelves_pageviews,digi_me_pageviews,homepage_duration_microseconds,add_to_cart,...,entered_store,visited_purposeful_shelves,entered_dm,visited_digi_me,visited_personalised_store,entered_welcome,entered_purposeful_shelves,cos_month,cos_wday,completed_transaction
session_id,,,,,,,,,,,,,,,,,,,,,
1661516763.0,0,0.001110,0,11,0,0,4,0,2.042283e-07,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.309017,0.433884,0
1661495705.0,1,0.011419,1,37,0,6,12,0,1.902647e-03,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.309017,0.433884,0
1661958852.0,0,0.031012,0,26,0,0,5,0,2.396483e-06,0,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.309017,0.781831,0
1656311064.0,0,0.000971,0,14,0,0,1,0,1.401340e-03,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.587785,0.974928,0
1664185206.0,0,0.000145,0,2,0,0,0,0,0.000000e+00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.156434,0.974928,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649241890.0,0,0.000000,0,0,1,0,0,0,0.000000e+00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.809017,0.781831,0
1660141439.0,0,0.000000,0,0,0,0,0,0,0.000000e+00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.309017,0.781831,0
1663753470.0,0,0.000823,0,5,0,0,0,0,0.000000e+00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.156434,0.781831,0
1663764780.0,0,0.186182,0,2,1,0,0,0,0.000000e+00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.156434,0.781831,0
1653514045.0,0,0.000003,0,3,0,0,0,0,0.000000e+00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.707107,0.781831,0

In [38]:
# X_features.to_csv('features/X_features.csv')
# y_feature = data[y_col].set_index('session_id')
# y_feature.to_csv('features/y_features.csv')

In [39]:
dataset.to_csv('features/cornershop_data.csv')